@import "../../utils/styles/typography.scss";

.nutrient {
  // display: flex;
  // flex-direction: column;
  width: 258px;
  height: 124px;
  // background-color: purple;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    align-content: center;
    height: 100%;
    gap: 20px;
    background-color: $background-color;
    &-icon {
      width: 60px;
      height: 60px;

      display: flex;
      align-items: center;
      justify-content: center;
      &-content {
        width: 20px;
        height: 20px;
        opacity: 100%;
      }
      &-protein {
        background-color: #4ab8ff1a;
      }
      &-lipid {
        background-color: #fd51811a;
      }
      &-calorie {
        background-color: #fbeaea;
      }
      &-carb {
        background-color: #faf6e5;
      }
    }
    &-data {
      &-value {
        width: 70px;
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      &-name {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #74798c;
      }
    }
  }
}

// #F9CE23
// background: #4AB8FF1A;
// #FBEAEA
