.loginContainer {
  display: flex;
  margin-top: 25%;
  justify-content: center;
  gap: 5%;
}

.loginButton {
  border: solid 2px black;

  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captcha-wrapper {
  position: relative;
  border: solid 1px black;
  margin: 150px auto;
  width: 600px;
  text-align: center;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: -4px;
}

.img-1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
