.recharts-wrapper {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: black;
}

.chartactivity-title {
  position: relative;
  top: 22px;
  left: 15px;
}

.recharts-legend-wrapper {
  margin-top: -25px;
}

.recharts-legend-item {
  padding-bottom: 25px;
}

.tooltip-daily {
  background-color: red;
  padding: 5px 10px 5px 10px;
  color: white;
}

.recharts-legend-item-text {
  color: #74798c;
}

.recharts-symbols:nth-of-type(2) {
  fill: red;
}

.legend-item-1 {
  .recharts-surface {
    fill: red;
  }
}
