.recharts-wrapper {
  margin-left: 200px;
  margin-top: -580px;

  background-color: white;
}

.recharts-layer {
  border: solid black 4px;
}

.recharts-symbols {
  color: black;
}

.recharts-surface {
  color: purple;
}
